@import "styles/variables.scss";
@import "styles/mixins.scss";

$gradient-offset: calc($headshot-size / 2);

.about {
  padding: 0 1rem;
  width: 100%;
  background: linear-gradient(
    to bottom,
    $color-midnight $gradient-offset,
    $color-navy $gradient-offset
  );

  .maxWidth {
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $heading-size-xs;

    .headshot {
      width: 100%;
      max-width: $headshot-size;
      height: $headshot-size;
      object-fit: cover;
      object-position: center;
      border-radius: $border-radius-sm;
    }

    h1 {
      @include text-gradient;
      font-size: $heading-size-sm;
    }

    .content {
      line-height: 1.25;

      p {
        margin-bottom: 0.5rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        list-style: none;
        font-size: $body-size-sm;
        font-weight: 600;

        li {
          @include border-gradient($color-navy);
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .about {
    padding: 0 1.5rem;

    .maxWidth {
      gap: $heading-size-sm;

      .headshot {
        border-radius: $border-radius-lg;
      }

      h1 {
        font-size: $heading-size-md;
      }

      .content p:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .about {
    padding: $heading-size-md 2rem 0;
    background: $color-navy;

    .maxWidth {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      row-gap: $heading-size-md;
      column-gap: 2rem;

      .headshot {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: start;
        justify-self: end;
      }

      h1 {
        display: block;
        margin: 0 auto;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: $heading-size-lg;
      }

      .content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: start;
        justify-self: start;

        p {
          font-size: $body-size-lg;
        }

        ul {
          font-size: $body-size-md;
        }
      }
    }
  }
}
