@import "styles/variables.scss";

.about {
  padding: $heading-size-sm 1rem 0;
  width: 100%;

  .maxWidth {
    max-width: $max-content-width;
    margin: 0 auto;

    h2 {
      text-align: center;
      font-size: $heading-size-sm;
      margin-bottom: $heading-size-sm;
    }
  }
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .image {
    width: 100%;
    aspect-ratio: 1;
    max-width: 400px;
    background: $color-black;
  }

  .content {
    line-height: 1.25;

    p {
      display: block;
      font-size: $body-size-md;
      margin-bottom: 0.5rem;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 10rem));
      gap: 0.25rem;
      list-style: none;
      font-size: $body-size-md;

      li {
        position: relative;
        padding-left: 2rem;

        &:before {
          content: "✧";
          position: absolute;
          left: 0;
          color: $color-citrus;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .about {
    padding: $heading-size-md 1.5rem 0;

    .maxWidth h2 {
      font-size: $heading-size-md;
      margin-bottom: $heading-size-md;
    }
  }

  .contentContainer {
    gap: 1.5rem;

    .content p:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .about {
    padding: $heading-size-lg 2rem 0;

    .maxWidth h2 {
      font-size: $heading-size-lg;
      margin-bottom: $heading-size-lg;
    }
  }

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .image {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;
      align-self: start;
    }

    .content {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: start;
      align-self: start;

      p:last-child {
        margin-top: 1rem;
      }
    }
  }
}
