.contact {
  padding: var(--space-sm);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .contact {
    padding: var(--space-lg);
  }
}
