@import "styles/variables.scss";

$sawtooth: 1.5rem;

.contact {
  padding: calc($heading-size-sm + $sawtooth) 1rem $header-footer-height;
  width: 100%;
  background: $color-rose;
  position: relative;

  &:before {
    content: "";
    background: linear-gradient(30deg, $color-rose 1rem, transparent 0),
      linear-gradient(-30deg, $color-rose 1rem, $color-indigo 0);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 2rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $sawtooth;
  }

  .maxWidth {
    max-width: $max-content-width;
    margin: 0 auto;

    h2 {
      text-align: center;
      font-size: $heading-size-sm;
      margin-bottom: $heading-size-sm;
      white-space: nowrap;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  p {
    font-size: $body-size-md;
  }
}

.emailLink {
  text-decoration: none;
  font-size: $body-size-md;
  color: $color-white;
  border: 2px solid $color-white;
  border-radius: 10px;
  width: max-content;
  padding: 1rem;

  // &:hover,
  // &:focus {}
}

@media screen and (min-width: $breakpoint-sm) {
  .contact {
    padding: calc($heading-size-md + $sawtooth) 1.5rem $header-footer-height;

    .maxWidth h2 {
      font-size: $heading-size-md;
      margin-bottom: $heading-size-md;
    }
  }

  .content {
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    p {
      text-align: center;
    }
  }

  .emailLink {
    margin: 0 auto;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .contact {
    padding: calc($heading-size-lg + $sawtooth) 2rem $header-footer-height;

    .maxWidth h2 {
      // text-align: center;
      font-size: $heading-size-lg;
      margin-bottom: $heading-size-lg;
    }
  }

  .content {
    gap: 2rem;
    margin-bottom: 2rem;

    p {
      font-size: $body-size-lg;
    }
  }

  .emailLink {
    font-size: $body-size-lg;
  }
}
