@import "styles/variables.scss";
@import "styles/mixins.scss";

$sawtooth: 1.5rem;

.contact {
  padding: calc($heading-size-xs + $sawtooth) 1rem $header-footer-height;
  width: 100%;
  background: $color-midnight;
  position: relative;

  &:before {
    content: "";
    background: linear-gradient(30deg, $color-midnight 1rem, transparent 0),
      linear-gradient(-30deg, $color-midnight 1rem, $color-navy 0);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 2rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $sawtooth;
  }

  .maxWidth {
    max-width: $max-content-width;
    margin: 0 auto;

    h1 {
      @include text-gradient;
      font-size: $heading-size-sm;
      margin: 0 auto $heading-size-xs;
    }
  }
}

.content {
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .emailLink {
    display: block;
    text-decoration: none;
    font-size: $body-size-md;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-white;
    background: $color-orange;
    border-radius: 100px;
    width: max-content;
    padding: 0.5rem 1rem;
    margin: $heading-size-xs 0;

    // &:hover,
    // &:focus {}
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .contact {
    padding: calc($heading-size-sm + $sawtooth) 1.5rem $header-footer-height;

    .maxWidth h1 {
      font-size: $heading-size-md;
      margin-bottom: $heading-size-sm;
    }
  }

  .emailLink {
    margin: $heading-size-sm auto;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .contact {
    padding: calc($heading-size-md + $sawtooth) 2rem $header-footer-height;

    .maxWidth h1 {
      font-size: $heading-size-lg;
      margin-bottom: $heading-size-md;
    }
  }

  .content {
    p {
      font-size: $body-size-lg;
    }

    .emailLink {
      font-size: $body-size-lg;
    }
  }
}
