@import "styles/variables.scss";
@import "styles/mixins.scss";

.hero {
  padding: calc($header-footer-height + $heading-size-xs) 1rem $heading-size-xs;
  width: 100%;

  .maxWidth {
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      @include text-gradient;
      font-size: $heading-size-sm;
      margin-bottom: 0.5rem;
    }

    .pattern {
      width: 100%;
      height: min-content;
      margin-bottom: $heading-size-xs;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .hero {
    padding: calc($header-footer-height + $heading-size-sm) 1.5rem
      $heading-size-sm;

    .maxWidth {
      h1 {
        font-size: $heading-size-md;
      }

      .pattern {
        margin-bottom: $heading-size-sm;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .hero {
    padding: calc($header-footer-height + $heading-size-lg) 2rem
      $heading-size-lg;

    .maxWidth {
      align-items: flex-start;

      h1 {
        font-size: $heading-size-lg;
      }

      p {
        font-size: $body-size-lg;
      }

      .pattern {
        margin-bottom: $heading-size-md;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .hero {
    padding: calc($header-footer-height + $heading-size-xl) 2rem
      $heading-size-xl;

    .maxWidth {
      h1 {
        font-size: $heading-size-xl;
      }

      p {
        font-size: $heading-size-sm;
      }

      .pattern {
        margin-bottom: $heading-size-lg;
      }
    }
  }
}
