@import "styles/variables.scss";
@import "styles/mixins.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
  background: transparent;

  .maxWidth {
    height: $header-footer-height;
    max-width: $max-content-width;
    margin: 0 auto;
    border-top: 2px solid $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.socials {
  display: flex;
  gap: 1rem;

  a {
    @include inline-link($color-white);
    letter-spacing: 1px;
    font-size: $body-size-md;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .footer {
    padding: 0 1.5rem;

    .maxWidth {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .footer {
    padding: 0 2rem;
  }
}
