@import "styles/variables.scss";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
  background: transparent;

  .maxWidth {
    height: $header-footer-height;
    max-width: $max-content-width;
    margin: 0 auto;
    border-bottom: 2px solid $color-white;
    display: flex;
    align-items: center;

    p {
      font-size: $heading-size-xs;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .header {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .header {
    padding: 0 2rem;
  }
}
