.navContainer {
  position: fixed;
  width: 100%;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: red;
}

.navItems {
  display: flex;
  gap: 1rem;
}
