@import "styles/variables.scss";
@import "styles/mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: neue-kabel, sans-serif;
  font-style: normal;
  font-weight: 300;

  background-color: $color-midnight;
  color: $color-white;
}

h1 {
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p,
ul {
  letter-spacing: 1px;
  font-size: $body-size-md;
}

/* :focus {
  outline: 0.15rem dashed var(--color-concrete);
  outline-offset: 0.25rem;
} */

main:focus {
  outline: none;
}
