@import "styles/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-lavender;
  color: $color-white;
  font-family: $font-body;
}

/* move h1 and p into a section component */
h1 {
  color: $color-aqua;
  font-family: $font-broadacre;
  font-size: $font-size-xl;
}

p {
  line-height: 1.5;
  font-size: $font-size-md;
}

/* :focus {
  outline: 0.15rem dashed var(--color-concrete);
  outline-offset: 0.25rem;
} */

main:focus {
  outline: none;
}
