*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray);
  color: var(--color-black);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  border: 0;
}

/* move h1 and p into a section component */
h1 {
  font-family: var(--font-broadacre);
  font-size: var(--font-size-xl);
  /* color: lightgreen; */
}

p {
  /* margin-top: var(--space-sm); */
  font-size: var(--font-size-md);
}

/* line height for p */

:focus {
  outline: 0.15rem dashed var(--color-concrete);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}
