@import "styles/variables.scss";

@mixin text-gradient {
  background: -webkit-linear-gradient(
    45deg,
    $color-purple,
    $color-orange,
    $color-yellow
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

@mixin border-gradient($background) {
  background: linear-gradient($background, $background) padding-box,
    linear-gradient(45deg, $color-purple, $color-orange, $color-yellow)
      border-box;
  border-radius: 100px;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
}

@mixin inline-link($color) {
  color: $color;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $color;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
  }

  &:hover:before {
    transform: scaleX(1);
  }
}
