$font-broadacre: broadacre-hairline-4, sans-serif; /* 100 */
$font-body: neue-kabel, sans-serif; /* 200, 400, 600 */

$color-white: #e6e6e6;
$color-black: #1a1a1a;
$color-aqua: #6bbaa7;
$color-sunshine: #fba100;
$color-lavender: #6c648b;
$color-mauve: #b6a19e;

$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 4.5rem;
$font-size-xl: 6rem;

$size-header: 6rem;
$space-sm: 1rem;
$space-lg: 2rem;
